VITE_BACKEND_DRIVER=mock
VITE_TOURCLICK_YAPE_QR=
VITE_TOURCLICK_YAPE_OWNER=TourClick
VITE_TOURCLICK_YAPE_PHONE=

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
